<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Midterm Survey</title>
</head>
<body>
    <div class="container-fluid">
        <form id="surveyform" method="post" action="#">
            <fieldset>
                <legend>Midterm Survey</legend>
                <label>Name</label>
                <input type="text" name="name" id="name"> <br><br>
                <label>Check all that Apply:</label> <br>
                <input type="checkbox" name="easy" value="this midterm is easy">&nbsp this midterm is easy <br>
                <input type="checkbox" name="like" value="i like midterms">&nbsp I like midterms <br>
                <input type="checkbox" name="monday" value="today is monday">&nbsp today is Monday <br>
            </fieldset>
            <input type="button" name="submit" value="submit">&nbsp Submit<br>
        </form>
    </div>
</body>
</html>